__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
.DS_Store
*.sqlite3
data/
models/
catboost_info/
X_res.npy
y_res.npy
data/interventions1.parquet.csv
data/interventions2.parquet.csv
data/interventions3.parquet.csv
data/interventions_bxl.parquet.csv
data/interventions_bxl.parquet.gzip
data/cad9.parquet.csv


